@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;600;700&display=swap');

body {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
}

form .notes, form .hint {
  color: white;
}

input[type="text"] {
  color: white;
}

input[type="text"]::placeholder {
  color: #7F7F7F;
}

select {
  color: white;
}

select option {
  background-color: #7F7F7F;
}

.window-content button {
    width: auto;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.window-app .window-content {
    padding: 22px 32px;
    background: linear-gradient(130.41deg, #040B35 0.25%, #020F26 100.2%), #C4C4C4;
    color: #fff;
}

.actor-sheet {
    display: grid;
    grid-template: 65px 1fr / 138px 1fr;
    column-gap: 33px;
    grid-row-gap: 20px;
}

h1 {
    border: none;
    font-size: 31px;
    font-weight: 200;
    font-variation-settings: 'wght' 200;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.15em;
}


.content {}

.base-stats {
    display: flex;
    margin-bottom: 28px;
}
.base-stats .stat {
    flex: 1;
    margin-right: 11px;
    font-weight: 800;
}
.base-stats .stat:last-child {
    margin-right: 0;
}
.base-stats .value {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: grid;
    place-items: center;
    font-size: 22px;
    padding: 8px 0;
    margin-bottom: 3px;
}

.base-stats label {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 11px;
    letter-spacing: 0.1em;
}


.abilities {}
.abilities .ability {
}
.ability .ability-score-box {
    background: linear-gradient(
        270deg,
        rgba(26, 182, 226, 0.18) 74.48%,
        rgba(26, 181, 224, 0.18) 100%
    );
    border-radius: 3px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.ability .ability-focus-box {
    text-align: right;
}
.ability .ability-focus-box button {
    text-align: right;
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 400;
}
.resource-label {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
}
