@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200..700&display=swap');

body {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
}

a:hover {
    text-shadow: none;
}

form .notes, form .hint {
  color: white;
}

input[type="text"] {
  color: white;
}

input[type="text"]::placeholder {
  color: #7F7F7F;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime-local"]:focus {
    box-shadow: 0 0 5px #fff;
}

select {
  color: white;
}

select option {
  background-color: #7F7F7F;
}

.edit-control {
    display: none;
}

.editing .edit-control {
    display: block;
}

.window-content .auxiliary input {
    width: 3ch;
}

.window-app .window-content {
    padding: 22px 32px;
    background: linear-gradient(130.41deg, #040B35 0.25%, #020F26 100.2%), #C4C4C4;
    color: #fff;
}

.window-content::-webkit-scrollbar-track {
  background: #7F7F7F;
}

.window-content::-webkit-scrollbar-thumb {
  background: #1AB6E2;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.window-content button {
    width: auto;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    cursor: pointer;
}

.window-content input {
    background: #fff;
    color: #111;
    font-weight: 700;
    width: auto;
    height: auto;
}

.window-content button i.fas:first-child:last-child {
    margin-right: 0;
}

.editor-content {
    color: white;
}

.editor-content::-webkit-scrollbar-track {
  background: #7F7F7F;
}

.editor-content::-webkit-scrollbar-thumb {
  background: #1AB6E2;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.mce-content-body {
    color: white;
}

.window-content .editor, .tox.tox-tinymce {
    min-height: 150px;
}

.tox.tox-tinymce .tox-edit-area__iframe {
    background: #fff;
}


h1, h2 {
    border: none;
}

.actor-sheet h1 {
    border: none;
    font-size: 2.4em;
    font-weight: 200;
    font-variation-settings: 'wght' 200;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.15em;
    margin-bottom: 30px;
}

/*
 * CHARACTER SHEET
 */
.actor-sheet {
    display: grid;
    grid-template-columns: 138px 1fr;
    column-gap: 33px;
}

/* global */
.global {}

.profile-img {
    border-width: 0;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
}
.character-global {}

.character-global .stats {
    position: relative;
    top: -2px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 6px 6px;
}
.character-global .stats dl,
.character-global .stats dt,
.character-global .stats dd {
    margin: 0;
    line-height: 1;
}

.character-global .stats dl {
    margin: 0;
    padding: 10px 20px;
    
    display: flex;
}
.character-global .stats dd {
    text-align: right;
    font-size: 22px;
}
.character-global .stats dt {
    padding-left: 4px;
    padding-top: 2px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: #1AB6E2;
}
.character-global .stats dt + dd {
    margin-left: 20px;
}

.character-global .stats dl + dl {
    display: block;
    padding-bottom: 20px;
}
.character-global .stats dl + dl dt {
    padding: 0;
}
.character-global .stats dl + dl dd {
    margin: 0;
    margin-top: 5px;
    text-align: left;
}
.character-global .stats dl + dl input {
    width: 4ch;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
}
.character-global .stats dl + dl input:focus {
    color: #fff;
}

.global nav.tabs {
    margin: 30px 12px;
    flex-direction: column;
}
.global nav a.item {
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    font-weight: 600;
    margin-bottom: 16px;
}
.global nav a.item.active,
.global nav a.item:hover {
    text-shadow: none;
    color: #A166CC;
}

.content {}
.content .sheet-body {
    position: relative;
}

.content .tab[data-tab] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    visibility: hidden;
}
.content .tab[data-tab].active {
    display: block;
    visibility: visible;
}

/* action tab */
.base-stats {
    display: flex;
    margin-bottom: 28px;
}
.base-stats .stat {
    flex: 1;
    margin-right: 11px;
    font-weight: 800;
}
.base-stats .stat:last-child {
    margin-right: 0;
}
.base-stats .value {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: grid;
    place-items: center;
    font-size: 22px;
    padding: 8px 0;
    margin-bottom: 3px;
}
.base-stats label {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 11px;
    letter-spacing: 0.1em;
}


.abilities {}
.abilities .ability {
    opacity: 0;
    transition: opacity 500ms;
}
.tab.active .abilities .ability {
    opacity: 1;
}
.tab.active .abilities .ability:nth-child(2) { transition-delay: 50ms; }
.tab.active .abilities .ability:nth-child(3) { transition-delay: 100ms; }
.tab.active .abilities .ability:nth-child(4) { transition-delay: 150ms; }
.tab.active .abilities .ability:nth-child(5) { transition-delay: 200ms; }
.tab.active .abilities .ability:nth-child(6) { transition-delay: 250ms; }
.tab.active .abilities .ability:nth-child(7) { transition-delay: 300ms; }
.tab.active .abilities .ability:nth-child(8) { transition-delay: 350ms; }
.tab.active .abilities .ability:nth-child(9) { transition-delay: 400ms; }

.ability .ability-score-box {
    background: linear-gradient(
        270deg,
        rgba(26, 182, 226, 0.18) 74.48%,
        rgba(26, 181, 224, 0.18) 100%
    );
    border-radius: 3px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.ability .ability-score-box button {
    line-height: 1;
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 4px;
}
.ability .ability-score-box button:first-letter {
    opacity: 0.5;
    font-weight: 700;
}
.ability .ability-focus-box {
    text-align: right;
}
.ability .ability-focus-box button {
    text-align: right;
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 400;
}
.resource-label {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
}

.dialog-content {
    font-weight: 400;
    line-height: 1.5;
}
.dialog-content h1 {}

.dialog-content p {
    margin: 1rem 0;
}

#focus-selection ul {
    padding: 0;
    list-style-type: none;
}
#focus-selection ul li {
    margin-bottom: 1em;
}

#focus-selection .focus-select {
    display: flex;
}
#focus-selection .focus-select dt {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0.3rem;
}
#focus-selection .focus-select dl,
#focus-selection .focus-select dd {
    margin: 0;
}
#focus-selection .focus-select input {
    padding: 0;
    margin-left: 0;
}
