<form class="{{cssClass}} flexcol" autocomplete="off">

    <div class="grid-container actor-sheet">

        <div class="character-id">
            <h1>{{actor.name}}</h1>
        </div>

        <div class="auxiliary">
        </div>

        <div class="global">
            <div class="character-global">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="138" width="141"/>
                <div class="stats">
                    <dl>
                        <dd>1</dd>
                        <dt>lvl</dt>
                        <dd>3</dd>
                        <dt>mon</dt>
                    </dl>
                </div>
            </div>

            <nav>
                <a class="item">Action</a>
                <a class="item">Social</a>
                <a class="item">Talents</a>
                <a class="item">Background</a>
                <a class="item">Equipment</a>
                <a class="item">Ship</a>
            </nav>


            <button type="button">Edit</button>
        </div>

        <div class="content">

            <div class="base-stats">
                <div class="stat">
                    <div class="value">12</div>
                    <label>Speed</label>
                </div>
                <div class="stat">
                    <div class="value">12</div>
                    <label>Defense</label>
                </div>
                <div class="stat">
                    <div class="value">1</div>
                    <label>Toughness</label>
                </div>
                <div class="stat">
                    <div class="value">0</div>
                    <label>Armor</label>
                </div>
                <div class="stat">
                    <div class="value">0</div>
                    <label>Penalty</label>
                </div>
            </div>

            <div class="abilities">
                {{#each data.abilities as |ability key|}}
                  <div class="ability">
                    <div class="ability-score-box">
                        <span class="resource-label">
                            {{key}}
                        </span>
                        <button type="button">{{ability.value}}</button>
                    </div>
                    <div class="ability-focus-box">
                        {{#each (lookup ../entity.focusByAbility [key])}}
                            <button type="button" class="ability-mod ability-focus" data-roll="{2d6, 1d6}+@abilities.{{key}}.value+2" data-label="{{key}}" data-proficiency={{this}} data-mod="{{ability.value}}">{{this}}</button>
                        {{/each}}
                    </div>
                  </div>
                {{/each}}
            </div>

        </div>

    </div>

</form>
