<form class="{{cssClass}} flexcol {{actor.editingString}}" autocomplete="off">

    <div class="grid-container actor-sheet">

        <div class="character-id">
            <h1>{{actor.name}}</h1>
        </div>

        <div class="auxiliary">
            <div>
            <label for="data.attributes.fortune.value">fortune</label>
            <input
                type="text"
                name="data.attributes.fortune.value"
                value="{{data.attributes.fortune.value}}"
                data-dtype="Number"
            />
            </div>
            <div>
            <label for="data.stunt_points">stunt points</label>
            <input
                type="text"
                name="data.stunt_points"
                value="{{data.stunt_points}}"
                data-dtype="Number"
            />
            </div>
        </div>

        <div class="global">
            <div class="character-global">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="138" width="141"/>
                <div class="stats">
                    <dl>
                        <dd>1</dd>
                        <dt>lvl</dt>
                        <dd>3</dd>
                        <dt>
                            <svg width="20" height="10" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5 1H4.5L2.5 5H11.5L13.5 1Z" stroke="#1AB6E2" stroke-width="2"/>
                                <path d="M10 8H5.09091L4 10H8.90909L10 8Z" stroke="#1AB6E2" stroke-width="2"/>
                                <path d="M21 3H16.0909L15 5H19.9091L21 3Z" stroke="#1AB6E2" stroke-width="2"/>
                                <path d="M23 8H14L12 12H21L23 8Z" stroke="#1AB6E2" stroke-width="2"/>
                            </svg>
                        </dt>
                    </dl>
                </div>
            </div>

            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="action">Action</a>
                <a class="item" data-tab="social">Social</a>
                <a class="item" data-tab="talents">Talents</a>
                <a class="item" data-tab="background">Background</a>
                <a class="item" data-tab="equipment">Equipment</a>
                <a class="item" data-tab="ship">Ship</a>
            </nav>

            <button type="button" class="editmode-toggle">Edit</button>
        </div>

        <div class="content sheet-body">

            <div class="tab action" data-group="primary" data-tab="action">

                <div class="base-stats">
                    <div class="stat">
                        <div class="value">{{data.speed}}</div>
                        <label>Speed</label>
                    </div>
                    <div class="stat">
                        <div class="value">{{data.defense}}</div>
                        <label>Defense</label>
                    </div>
                    <div class="stat">
                        <div class="value">{{data.toughness}}</div>
                        <label>Toughness</label>
                    </div>
                    <div class="stat">
                        <div class="value">0</div>
                        <label>Armor</label>
                    </div>
                    <div class="stat">
                        <div class="value">0</div>
                        <label>Penalty</label>
                    </div>
                </div>

                <div class="abilities">
                    {{#each data.abilities as |ability key|}}
                      <div class="ability">
                        <div class="ability-score-box">
                            <span class="resource-label">
                                {{key}}
                            </span>

                            <input
                                type="text"
                                name="data.abilities.{{key}}.value"
                                value="{{ability.value}}"
                                data-dtype="Number"
                                class="edit-control"
                            />

                            <button type="button"
                                class="ability-mod ability-rollable"
                                data-roll="{2d6, 1d6}+@abilities.{{key}}.value"
                                data-label="{{key}}" data-mod="{{ability.value}}"
                            >
                                {{numberFormat ability.value decimals=0 sign=true}}
                            </button>
                        </div>
                        <div class="ability-focus-box">
                            <button class="ability-focus-trigger edit-control" data-label="{{key}}">
                                <i class="fas fa-cog"></i>
                            </button>
                            {{#each (lookup ../entity.focusByAbility [key])}}
                                <button type="button"
                                    class="ability-mod ability-focus ability-rollable"
                                    data-roll="{2d6, 1d6}+@abilities.{{key}}.value+2"
                                    data-label="{{key}}" data-proficiency={{this}}
                                    data-mod="{{ability.value}}"
                                >
                                    {{this}}
                                </button>
                            {{/each}}
                        </div>
                      </div>
                    {{/each}}
                </div>

            </div>
            {{!-- /action --}}

            <div class="tab social" data-group="primary" data-tab="social">

                <h2>Social</h2>

            </div>
            {{!-- /social --}}

            <div class="tab background" data-group="primary" data-tab="background">

                <h2>Background</h2>

                <label>Biography</label>
                {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}

            </div>
            {{!-- /background --}}


        </div>

    </div>

</form>
