<form id="focus-selection" class="dialog-content" onsubmit="event.preventDefault()">
    <header>
        <h1>{{cap selectedAbility.label}}</h1>
    </header>

    <p>{{ability.description}}</p>

    <ul>
        {{#each ability.focuses}}
        <li>
            <div class="focus-select">
                <input
                    class="focus-selector-option"
                    name="{{../selectedAbility.label}}{{@index}}"
                    id="{{../selectedAbility.label}}{{@index}}"
                    type="checkbox" {{#if this.proficient}}checked{{/if}}
                    value="{{@index}}"
                />
                <label for="{{../selectedAbility.label}}{{@index}}">
                    <dl>
                        <dt>{{this.name}}</dt>
                        <dd>{{this.description}}</dd>
                    </dl>
                </label>
            </div>
        </li>
        {{/each}}
    </ul>
</form>
